{% extends 'ask_students/base.html' %}
{% load staticfiles %}
{% load ask_students_templatetags %}

{% block title %}
    Ask A Question!
{% endblock %}

{% block pagetitle %}
    Ask A Question!
{% endblock %}

{% block body_block %}

	<form role="form" class="p-4 p-lg-5" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        {% display_form_error_fields form %}
		
		<div class="form-group">
			<label for="id_name">Enter your question title here!</label>
			<input type="text" name="name" class="form-control" maxlength="128" required id="id_name">
		</div>
		<div class="form-group">
			<label for="id_text">Additional information for your question goes here!</label>
			<input type="text" name="text" class="form-control" maxlength="4096" required id="id_text">
		</div>
		<div class="form-group">
			<label for="id_anonymous">Anonymous?</label>
			<input type="checkbox" name="anonymous" class="form-control" id="id_anonymous">
		</div>
		<div class="form-group">
			<label for="id_category">Choose a category!</label>
			<select name="category" class="form-control" required id="id_category">
			<option value selected class="form-control">pick a category, any category...</option>
			{% for category in categories %}
			<option value="{{ category.pk }}" class="form-control">{{ category.name }}</option>
			{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label for="id_support_file">If you want to add a support file for your question, click below!</label>
			<input type="file" name="support_file" class="form-control" id="id_support_file">
		</div>
		
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="my-3 g-recaptcha" data-sitekey="6LdGLJcUAAAAANAoIympAVqgNGkmOR_7p3uN2F_S"></div>

        <button type="submit" class="btn btn-info col-12">Submit</button>
    </form>
{% endblock %}