<div class="card answer-card mb-3">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-8"> <p class="card-text">{{ answer.text }}</p> </div>
			{% if not anonymous %}
			<div class="col-lg-4"> <p class="card-text">{{ answer.user.user.username }}</p></div>
			{% endif %}
		</div>
		<div class="row">
			<div class="col-md-4"> <p class="card-text">Likes: {{ answer.likes }}</p></div>
			<div class="col-md-4"> <p class="card-text">Dislikes: {{ answer.dislikes }}</p></div>
		</div>
	</div>
</div>