{% load static %}
<div class="row question-info no-gutters">
    <!-- left side, show question text -->
    <div class="col-sm-12 card question-card answer-card">
        <p class="question-text">{{ answer.text }}</p>
    </div>

    <div class="col-md-3 col-sm-6">
        <img id="like-btn-{{ answer.pk }}" class="like-img like-btn"
             src="{% if liked %}{% static 'images/active-like.png' %}{% else %}{% static 'images/like.png' %}{% endif %}"/>
        <a id="like-{{ answer.pk }}">{{ answer.likes }}</a>

        <img style="" id="dislike-btn-{{ answer.pk }}" class="dislike-img dislike-btn"
             src="{% if disliked %}{% static 'images/active-dislike.png' %}{% else %}{% static 'images/dislike.png' %}{% endif %}"/>
        <a id="dislike-{{ answer.pk }}">{{ answer.dislikes }}</a>
    </div>
    <div class="col-md-5 col-sm-6">
        {% if answer.edited %}
            {{ answer.edited|date:'D d M Y H:i' }} (edit)
        {% else %}
            {{ answer.posted|date:'D d M Y H:i' }}
        {% endif %}
    </div>
    <div class="col-md-4">
        {% if answer.user %}
            <a href="{% url 'profile' answer.user.user.username %}">{{ answer.user.user.username }}</a>
        {% else %}
            <a>Anonymous</a>
        {% endif %}
    </div>

</div>