{% extends 'ask_students/base.html' %}
{% load staticfiles %}
{% load ask_students_templatetags %}

{% block title %}
    Approve a Category
{% endblock %}

{% block pagetitle %}
    Approve a Category
{% endblock %}

{% block body_block %}
	<div>
	{% if category %}
		<ul>
		{% for cat in category %}
			<li>Category Request: {{ cat.name }} </li>
            <p4>Why: {{ cat.description}} </p4>
            <form id="approve-category" role="form" class="p-4 p-lg-5" method="post" action=".">
        {% csrf_token %}

        {% display_form_error_fields form %}
        {{ form.as_p }}
        <button type="Submit" class="btn btn-info col-3">APPROVE</button>
        </form>
		{% endfor %}
		</ul>
	{% else %}
		<strong>There are no categories to approve.</strong>
	{% endif %}
	</div>
{% endblock %}