{% extends 'ask_students/base.html' %}
{% load staticfiles %}
{% load ask_students_templatetags %}

{% block title %}
    New Category Requests
{% endblock %}

{% block pagetitle %}
    New Category Requests
{% endblock %}

{% block head_block %}
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
  <script src="{% static 'js/approve-category.js' %}"></script>
{% endblock %}

{% block body_block %}
    <div>
        {% if data %}
            {% for dat in data %}
                <p>Request received from {{ dat.1.user.user.username }} </p>
                <p>Category name: {{ dat.1 }} </p>
                <form id="approve-category-{{ forloop.counter }}" role="form" method="post" action=".">
                    {% csrf_token %}
                    {% display_form_error_fields form %}

                    <label for="id_description">Category Description (edit as appropriate!):</label>
                    <textarea rows="4" cols="50" class="form-control" id="id_description"
                              name="description" form="approve-category-{{ forloop.counter }}"
                              maxlength="512" required>{{ dat.1.description }}</textarea>
                    <input type="hidden" name="category" id="id_category" value="{{ dat.1.id }}"><br/>
                    <button type="Submit" class="approve-category btn btn-info">Approve</button>
                </form>
                <br/>
            {% endfor %}

        {% else %}
            <strong>Wow! There are no categories to approve! Well Done!</strong>
        {% endif %}
    </div>
{% endblock %}