{% extends 'ask_students/base.html' %}
{% load staticfiles %}
{% load ask_students_templatetags %}

{% block title %}
    New Category Requests
{% endblock %}

{% block pagetitle %}
    New Category Requests
{% endblock %}

{% block body_block %}
    <div>
        {% if data %}
            {% for dat in data %}
                <p>Request received: {{ dat.1.user.user.username }} </p>
                <form id="approve-category-{{ forloop.counter }}" role="form" method="post" action=".">
                    {% csrf_token %}
                    {% display_form_error_fields form %}

                    <label for="id_description">Description:</label>
                    <textarea rows="4" cols="50" class="form-control" id="id_description"
                              name="description" form="approve-category-{{ forloop.counter }}"
                              maxlength="512" required>{{ dat.1.description }}</textarea>
                    <input type="hidden" name="category" id="id_category" value="{{ dat.1.id }}"><br/>
                    <button type="Submit" class="btn btn-info">Approve</button>
                </form>
                <br/>
            {% endfor %}

        {% else %}
            <strong>There are no categories to approve.</strong>
        {% endif %}
    </div>
{% endblock %}