{% extends 'ask_students/base.html' %}
{% load ask_students_templatetags %}

{% block title %}
    {{ category.name }}
{% endblock %}

{% block pagetitle %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <div class="tab-content" id="home-tab-content">
        <div class="tab-pane fade show active" id="top" role="tabpanel" aria-labelledby="top-tab">
            {% for question in questions %}
                {% show_question question %}
            {% empty %}
                <p>Sorry, there are no questions in this category.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}