{% extends 'ask_students/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block body_block %}
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
    <h4>This is index.html! It inherits from base.html</h4>
{% endblock %}