{% extends 'ask_students/base.html' %}
{% load staticfiles %}
{% load ask_students_templatetags %}

{% block title %}
    Edit your Profile
{% endblock %}

{% block pagetitle %}
    Edit your Profile - {{ user.username }}
{% endblock %}

{% block head_block %}
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
  <script src="{% static 'js/support-image.js' %}"></script>
  <script src="{% static 'js/my-profile.js' %}"></script>
{% endblock %}

{% block body_block %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">

    <div>
        <form role='form' method="post" id="this-form" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_bio" class="user-info-title">Bio:
                    <textarea rows="4" cols="50" class="form-control" id="id_bio"
                              name="bio" form="this-form"
                              maxlength="512" required>{{ form.bio.value }}</textarea>
                </label>
            </div>

                <label for="id_image" class="user-info-title">
                    {% if user_profile.image %}
                    View your current profile image <a target="_blank" href="{{ MEDIA_URL }}{{ form.image.value }}">here</a><br/><br/>
                    {% endif %}
                    Upload a new profile image:</label>
                <input onchange="loadFile(event)" type="file" name="image" id="id_image"><br/>
                <img class="img-fluid" id="image-preview"/>

            <div class="form-group">
                <label for="id_place_of_study" class="user-info-title">Update your place of study:</label>
                <span class="change-info">{{ form.place_of_study }}</span>
            </div>

            <div class="form-group">
                <label for="id_permission" class="user-info-title">Update role:</label>
                <span class="change-info">{{ form.permission }}</span>
            </div>
            <button type="submit" name="edit" class="btn btn-info col-4 mx-auto d-block">Update</button>
        </form>
    </div>

    <div class="page-break">
    </div>

    <div class="mt-5 text-center">
        <a href="{% url 'auth_password_change' %}">
            <button class="btn btn-info col-5">Change your password here!</button>
        </a>
        
        <a href="{% url 'delete_user_profile' user.pk %}">
            <button class="delete-user-profile btn btn-info btn-danger col-5">Delete Profile</button>
        </a>
    </div>
{% endblock %}
