{% extends 'ask_students/base.html' %}
{% load staticfiles %}
{% load ask_students_templatetags %}

{% block title %}
    Edit your Profile
{% endblock %}

{% block pagetitle %}
    Edit your Profile - {{ user.username }}
{% endblock %}

{% block body_block %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">

    <div>
        <form role='form' method="post" id="form" action="." enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_bio" class="user-info-title">Bio:
                    <textarea rows="4" cols="50" class="form-control" id="id_bio"
                              name="text" form="form"
                              maxlength="512" required>{{ form.bio.value }}</textarea>
                </label>
            </div>


            <div class="form-group">
                <label for="id_bio" class="user-info-title">Upload a new profile image:</label>
                <p class="change-info">{{ form.image }}</p>
            </div>

            <p></p>
            <p class="user-info-title">Change Place of Study: <br/><span
                    class="change-info">{{ form.place_of_study }}</span></p>
            <p class="user-info-title">Change Role: <br/><span class="change-info">{{ form.permission }}</span></p>

            <button type="submit" name="edit" class="btn btn-info col-12">Edit</button>
        </form>
    </div>

{% endblock %}
