{% extends 'ask_students/base.html' %}
{% load staticfiles %}

{% block title %}
   Profile - {{ user.username }}
{% endblock %}

{% block pagetitle %}
    {{ user.username }}
{% endblock %}

{% block body_block %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">

    <h1 id="username">{{ user.username }}</h1>

    <div>
		<strong class="user-info-title">Role :</strong> <strong class="user-info">{{ role }}</strong>
		<br/>
		<strong class="user-info-title">University :</strong> <strong class="user-info">{{ user.place_of_study }}</strong>
		<br/>
		<strong class="user-info-title">Email :</strong> <strong class="user-info">{{ user.user.email }}</strong>
		<br/><br/>
        <strong class="user-stats-title"> Answers: </strong> <strong id="answers">{{ number_of_answers }}</strong>
		<strong class="user-stats-title"> Likes: </strong> <strong id="likes">{{ likes }}</strong>
		<strong class="user-stats-title"> Dislikes: </strong> <strong id="dislikes">{{ dislikes }} </strong>
		<br/>
        <div id="pagebreak"></div>
		<strong> Most Liked Answers </strong> {{ top_five_answers }} 
		
	</div>
{% endblock %}
