{% extends 'ask_students/base.html' %}
{% load staticfiles %}

{% block title %}
   Profile - {{ user.username }}
{% endblock %}

{% block pagetitle %}
    {{ user.username }}
{% endblock %}

{% block body_block %}

    <h1>{{ user.username }}</h1>

    <div>
        <strong>Username: </strong>{{ user.username }}
        <br/>
		<h4>Role: </h4> {{ role }}
		<br/>
		<h4>University: </h4> {{ user.place_of_study }}
		<br/>
		<h4>Email: </h4> {{ user.user.email }}
		<br/>
        <strong>Answers: </strong>{{ number_of_answers }}
		<strong> Likes: </strong> {{ user.likes }}
		<strong> Dislikes: </strong> {{ user.dislikes }} 
		<br/>
		<strong> Most Liked Answers </strong> {{ top_five_answers }} 
		
	</div>
{% endblock %}
