{% extends 'ask_students/base.html' %}
{% load ask_students_templatetags %}
{% load static %}

{% block title %}
    {{ question.name }}
{% endblock %}

{% block pagetitle %}
    {{ question.category }} - {{ question.name }}
{% endblock %}

{% block head_block %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
    <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
    <script src="{% static 'js/question.js' %}"></script>
{% endblock %}

{% block body_block %}

    <h4>{{ question.name }} -
        <!-- Functions specific to user who posted question -->
        {% if question.answered != None %}
            (Answered)
        {% endif %}
        {% if question.user.user == user %}
            <a style="font-size: 60%; margin-left: 15px;" class="delete-question" href="{% url 'delete_question' question.pk %}">Delete</a>
            <a style="font-size: 60%; margin-left: 10px;" id="select-answer" href="{% url 'select_answer' question.pk %}">Select Answer</a>
        {% endif %}
    </h4>

    <div class="container">
        <div class="row question-info">
            <!-- left side, show question text -->
            <div class="col-sm-8 card question-card left-section">
                <p class="question-text">{{ question.text }}</p>
            </div>

            <!-- Right side, show pic, name and question views  -->
            <div class="col-sm-4 right-section">
                {% if question.anonymous %}
                    <a>Anonymous</a>
                {% else %}
                    <a href="{% url 'profile' asker_profile.user.username %}">
                        {% if asker_profile.image %}
                            <img width="25px" height="25px"
                                 src="{{ MEDIA_URL }}{{ asker_profile.image }}"
                                 alt="{{ asker_profile.user.username }} profile image"/>
                        {% endif %}
                        {{ asker_profile.user.username }}
                    </a>
                {% endif %}
                <p>View{{ question.views|pluralize }}: {{ question.views }}</p>
            </div>

            <!-- Supporting file -->
            <div class="col-xs-8 support-file left-section">
                {% if question.support_file %}
                    <a target="_blank" href="{{ MEDIA_URL }}{{ question.support_file }}">View attached support file</a>
                {% endif %}
            </div>


            <!-- Posted date -->
            <div class="col-xs-8 date right-section">
                {% if question.edited %}
                    {{ question.edited|date:'D d M Y H:i' }} (edit)
                {% else %}
                    {{ question.posted|date:'D d M Y H:i' }}
                {% endif %}
            </div>
        </div>

    </div>

    <div class="page-break"></div>

    <h4>{{ number_of_answers }} Answer{{ number_of_answers|pluralize }}</h4>


    {% for answer in answers_list %}
        <div class="answer-number-{{ forloop.counter }}">
            {% if answer != selected_answer %}
                {% if answer.pk in liked %}
                    {% show_answer answer question True False %}
                {% elif answer.pk in disliked %}
                    {% show_answer answer question False True %}
                {% else %}
                    {% show_answer answer question False False %}
                {% endif %}
            {% if answer.user.user == user %}
                <a class="delete-answer" href="{% url 'delete_answer' question.pk answer.pk %}">Delete</a>
                <a onclick="myFunction()" href="" class="">Edit</a>
            {% endif %}
            <div class="page-break"></div>
        {% endif %}
        </div>
    {% endfor %}

    {% if user.is_authenticated %}

        <form id="answer_form" role="form" method="post"
              action="{% url 'show_question' question.category.slug question.pk %}">
            {% csrf_token %}
            {% display_form_error_fields form %}
            <h4>Your Answer</h4>

            {% if question.anonymous %}
                {% if user.pk == question.user.user.id %}
                    <p>Since you have asked this question as anonymous, this post will also be anonymous</p>
                {% endif %}
            {% endif %}
            <div class="form-group row pd-3">
                <div class="input-group col-sm-12 col-lg-12 col-xl-12">
                    <input class="form-control"
                           id="id_text" name="text" type="text"/>
                    <small id="errors_text" class="form-text col-sm-12 px-3"></small>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-info col-4 mx-auto d-block">Post your answer</button>
            </div>
        </form>
    {% else %}
        <p>You must be signed in to answer this question!</p>
    {% endif %}
    <script type="text/javascript">window.CSRF_TOKEN = "{{ csrf_token }}";</script>
    <script src="{% static 'js/answervotehandler.js' %}"></script>
    <script src="{% static 'js/question-answer-edit.js' %}"></script>

{% endblock %}