{% extends 'ask_students/base.html' %}
{% load ask_students_templatetags %}

{% block title %}
    {{ question.name }}
{% endblock %}

{% block pagetitle %}
    {{ question.category }} - {{ question.name }}
{% endblock %}

{% block body_block %}

    <!-- Show Question Title-->
    <h4>{{ question.name }}</h4>

    <div class="container">
        <div class="row question-info">
            <!-- left side, show question text -->
            <div class="col-sm-8 card question-card left-section">
                <p class="question-text">{{ question.text }}</p>
            </div>

            <!-- Right side, show pic, name and question views  -->
            <div class="col-sm-4 right-section">
                {% if question.anonymous %}
                    <a>Anonymous</a>
                {% else %}
                <a href="{% url 'profile' user_profile.user.username %}">
                    {% if user_profile.image %}
                        <img width="25px" height="25px"
                             src="{{ MEDIA_URL }}{{ user_profile.image }}"
                             alt="{{ user.user_profile.username }} profile image"/>
                    {% endif %}
                    {{ user_profile.user.username }}
                </a>
                {% endif %}
                <p>View{{ question.views|pluralize }}: {{ question.views }}</p>
            </div>

            <!-- Supporting file -->
            <div class="col-xs-8 support-file left-section">
                {% if question.support_file %}
                    <a target="_blank" href="{{ MEDIA_URL }}{{ question.support_file }}">View attached support file</a>
                {% endif %}
            </div>
			

            <!-- Posted date -->
            <div class="col-xs-8 date right-section">
            {% if question.edited %}
                {{ question.edited|date:'D d M Y H:i' }} (edit)
            {% else %}
                {{ question.posted|date:'D d M Y H:i' }}
            {% endif %}
            </div>
		</div>	
		<div class="row question-info">
		<div class="col-xs-4">
		hello
		</div>
		<div class="col-xs-8">
		hello
		</div>
		</div>
		
		
    </div>

    <div class="page-break"></div>

    <h4>{{ number_of_answers }} Answer{{ number_of_answers|pluralize }}</h4>

    <div class="container">
        {% for answer in answers_list %}
            {% show_answer answer %}
            <div class="page-break"></div>
        {% endfor %}
    </div>

    {% if user.is_authenticated %}
        
        <form id="answer_form" method="post" action="{% url 'show_question' question.category.slug question.pk %}">
            {% csrf_token %}
            <h4>Your Answer</h4>

            <div class="answer-box">{{ answer_form.text }}</div>
            <input type="submit" name="Post your Answer" value="Post your Answer" />
    
        
        </form>
    {% else %}
        <p>You must be signed in to answer this question!</p>
    {% endif %}
    
    

{% endblock %}