<div class="card question-card mb-3">
    <a href="{% url 'show_question' question.category.slug question.id %}">

    <div class="card-header crop-text py-2 flex-row flex-wrap">
        {% if not question.answered %}
            <span class="unanswered-label text-truncate py-1 px-3 ml-auto bg-warning" style="float:right">Unanswered</span>
        {% endif %}
            <span class="mr-auto text-left">{{ question.name|truncatechars:62 }}</span>
    </div>
    </a>

    <!--<div class="card-body py-2 d-flex flex-row flex-wrap"> Why do we need all these classes?-->
    <div class="card-body py-2 flex-row flex-wrap">
        <div class="row" >
            <div class="col-sm-6">
                <span>Views: {{ question.views }}</span>
            </div>
            <div class="col-sm-6">
                <span>Answers: {{ question.answer_set.count }}</span>
            </div>
            <div class="col-sm-6">
                <span>Category: <a href="{% url 'category' question.category.slug %}">{{ question.category.name }}</a></span>
            </div>
            <div class="col-sm-6">
                {% if question.anonymous %}
                    <span>Anonymous</span>
                {% else %}
                    <a href="{% url 'profile' question.user.user.username %}">
                        <span>{{ question.user.user.username }}</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>