{% extends 'ask_students/base.html' %}
{% load staticfiles %}
{% load ask_students_templatetags %}

{% block title %}
    Request a Category
{% endblock %}

{% block pagetitle %}
    Request a Category
{% endblock %}

{% block head_block %}
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
  <script src="{% static 'js/request-category.js' %}"></script>
{% endblock %}

{% block body_block %}
    <form id="request-category" role="form" class="p-4 p-lg-5" method="post" action=".">
        {% csrf_token %}

        {% display_form_error_fields form %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    <strong> Warning! </strong> {{ error }} <br/>
                {% endfor %}
            </div>
        {% endif %}


        <div class="form-group row pd-3">
            <label for="id_name" class="col-sm-4 col-lg-4 col-xl-4 col-form-label"> Category Name:</label>
            <div class="input-group col-sm-8 col-lg-8 col-xl-8">
                <input class="form-control"
                       id="id_name" maxlength="30" name="name" type="text"/>
                <small id="errors_name" class="form-text col-sm-12 px-3"></small>
            </div>
        </div>


        <div class="form-group row pd-3">
            <label for="id_description" class="col-sm-4 col-lg-4 col-xl-4 col-form-label"> Why:</label>
            <div class="input-group col-sm-8 col-lg-8 col-xl-8">
                <input class="form-control"
                       id="id_description" maxlength="30" name="description" type="text"/>
                <small id="errors_description" class="form-text col-sm-12 px-3"></small>
            </div>
        </div>

        <button type="submit" class="btn btn-info col-12">Submit Request</button>
    </form>
{% endblock %}