{% extends 'ask_students/base.html' %}
{% load ask_students_templatetags %}
{% load static %}
{% block head_block %}
{% endblock %}
{% block body_block %}
    <form role="form" class="p-4 p-lg-5" method="post" action="." enctype="multipart/form-data">
        {% csrf_token %}

        {% display_form_error_fields form %}

		
        <h3>Choose your favourite answer!</h3>
		<div class="form-group">
			<label for="id_answered">Choose the answer that's right for you</label>
			<select name="answered" class="form-control" required id="id_answered">
			<option value selected class="form-control">decisions, decisions...</option>
			{% for answer in answers %}
			<option value="{{ answer.pk }}" class="form-control">{{ answer.text }}</option>
			{% endfor %}
			</select>
		</div>
        <button type="submit" class="btn btn-info col-12">Submit</button>

    </form>
{% endblock %}