{% extends 'ask_students/base.html' %}
{% load ask_students_templatetags %}
{% load static %}

{% block title %}Select Answer{% endblock %}
{% block pagetitle %}Select Answer{% endblock %}

{% block head_block %}
 <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.js"></script>
  <script src="http://ajax.microsoft.com/ajax/jquery.validate/1.11.1/additional-methods.js"></script>
  <script src="{% static 'js/ask_question_form_validation.js' %}"></script>
 {% endblock %}

{% block body_block %}
    <form role="form" method="post" action=".">
        {% csrf_token %}

        {% display_form_error_fields form %}

        <h3>Choose your favourite answer from {{ answers|length }} answer{{ answers|length|pluralize }}!</h3>
		<div class="form-group">
			<label for="id_answered">Choose the answer that's right for you. This answer will be pinned as the main answer to your question!</label>

            <select name="answered" class="form-control" required id="id_answered">
			<option value selected class="form-control">----</option>
            {% for answer in answers %}
                <option value="{{ answer.pk }}" class="form-control">{{ answer.text }}</option>
            {% endfor %}
			</select>
		</div>

        <button type="submit" class="btn btn-info col-6">Submit</button>

    </form>
{% endblock %}