{% extends "ask_students/base.html" %}
{% load ask_students_templatetags %}

{% block title %}Reset password{% endblock %}

{% block pagetitle %}Reset Password{% endblock %}

{% block body_block %}
<p>
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
</p>
<form method="post" action="">
    {% csrf_token %}
    {% display_form_error_fields form %}
    <p class="required"><label class="required" for="email">
                Email:</label>
                <input class="form-control" id="email" name="email"
                       type="email"/>
    </p>
    <button type="submit" class="btn btn-info col-6 mx-auto d-block">Reset Password</button>
</form>
{% endblock %}
