{% extends "ask_students/base.html" %}
{% block title %}Sign Up{% endblock %}

{% block pagetitle %}
    Sign Up
{% endblock %}

{% block body_block %}
    <form role="form" class="p-4 p-lg-5" method="post" action=".">
        {% csrf_token %}

        <div class="form-group row pd-3">
            <label for="username-input" class="col-sm-3 col-lg-4 col-xl-3 col-form-label"> Username:</label>
            <div class="input-group col-sm-9 col-lg-8 col-xl-9">
                <input class="form-control" id="username-input" maxlength="30" name="username" type="text" aria-describedby="usernameHelpBlock" required/><br/>
            </div>
            <small id="usernameHelpBlock" class="form-text text-muted ml-auto px-3">
                How you will be identified on the site. Up to 30 characters, allowed: letters, digits and @/./+/-/_ only.
            </small>
        </div>

        <div class="form-group row pd-3">
            <label for="email-input" class="col-sm-3 col-lg-4 col-xl-3 col-form-label"> Email:</label>
            <div class="input-group col-sm-9 col-lg-8 col-xl-9">
                <input class="form-control" id="email-input" name="email" type="email" aria-describedby="emailHelpBlock" required/><br/>
            </div>
            <small id="emailHelpBlock" class="form-text text-muted ml-auto px-3">
                We will send an account activation email
                to this address, so make sure you can access it.
            </small>
        </div>

        <div class="form-group row pd-3">
            <label for="password1-input" class="col-sm-3 col-lg-4 col-xl-3 col-form-label"> Password:</label>
            <div class="input-group col-sm-9 col-lg-8 col-xl-9">
                <input class="form-control" id="password1-input" name="password1" type="password" aria-describedby="password1HelpBlock" required/><br/>
            </div>
            <small id="password1HelpBlock" class="form-text text-muted ml-auto px-3">
                TODO Password Requirements HERE
            </small>
        </div>

        <div class="form-group row pd-3">
            <label for="password2-input" class="col-sm-3 col-lg-4 col-xl-3 col-form-label"> Confirm:</label>
            <div class="input-group col-sm-9 col-lg-8 col-xl-9">
                <input class="form-control" id="password2-input" name="password2" type="password" aria-describedby="password2HelpBlock" required/><br/>
            </div>
            <small id="password2HelpBlock" class="form-text text-muted ml-auto px-3">
                Type in your password again to confirm it is correct.
            </small>
        </div>

        {{ form.username.errors }}
            {{ form.email.errors }}
            {{ form.password1.errors }}
            {{ form.password2.errors }}
            <br>
            {{form.non_field_errors}}

        <button type="submit" class="btn btn-info col-12">Register</button>
    </form>
{% endblock %}