
.proflie-pic {
  border: 1px solid black;
  border-radius: 50%;
}

#username {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 26px;
}

.user-info-title {
  font-size: 18px;
  font-weight: 700;
}

.user-info {
  padding: 0px 15px 15px 5px;
  font-size: 17px;
  font-weight: 400;
}

.user-stats-title {
  padding: 15px 0px 0px 20px;
  font-size: 21px;
}

#bio {
  padding: 10px 0px 0px 10px;
  font-size: 16px;
  text-align: center
}

#answers {
  padding: 15px 30px 0px 10px;
  font-size: 20px;
}

#likes {
  padding: 15px 30px 0px 10px;
  font-size: 20px;
  color: green;
}

#dislikes {
  padding: 15px 30px 0px 10px;
  font-size: 20px;
  color: red;
}

.question-title {
  padding: 10px 0px 0px 15px;
  font-size: 12px;
}

.answer-title {
  padding: 0px 50px 15px 10px;
}

.answer-likes {
  position: absolute;
  right: 40px;
}

/*
Do we need this? And is it a class or id?
top-answer-question {
  color:black;
  font-style: Italic;
}*/