/*
** Base Styling
*/
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
}

/* Importance to ensure active displays over contextual background colour.*/
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff !important;
	background-color: #369d4e !important;
	margin-right: 4px;
}

.custom-colour li a {
	color: black;
	text-align: center;
}

/* Override Horizontal Column Padding */
.container .row .main {
	padding: 8px;
}

/*
**
**	Nav Bar Styles
**
*/

#nav-bar-search {
	width: 50%;
	margin-left: 10px;
	margin-right: 10px;
}

/* To correctly display search bar AJAX results.
	above other page content */
.ui-front {
	z-index: 1050 !important;
}

#nav-bar-search button {
	width: auto;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#nav-bar-search input{
	width: 70%;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.nav-item .active {
	color: #fff;
	background-color: #369d4e;
	border-radius: 10px;
}

/* Nav Bar Toggle Styling */
.custom-toggler.navbar-toggler {
	border-color: rgb(139,195,74);
}
.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139,195,74, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*
**	Content Card Style Generic
*/

.card .card-header {
	background: rgb(0,150,136);
	color: white;
	font-size: 1.2rem;
	text-align: center;
}

.outer-card {
	text-align: center;
}

/*
**
** Home Page Styles
**
*/

#home-tab-control li a {
	height: 100%;
}

#home-tab-control {

	margin-bottom: 20px;
}

/* Question Card Styles */

.question-card {
	border-radius: 0.5rem;
}

.question-card .card-body span {
	padding: 3px 6px;
	font-weight: lighter;
	/* font-style: oblique; */
}

.question-card a {
	font-style: italic;
	color: black;
}

.question-card .card-header {
	border-radius: 0.5rem 0.5rem 0 0;
	background-color: #369d4e;
}

.question-card .card-header span {
	display: block;
}

.unanswered-label {
	border-radius: 0.75rem;
	font-size: 0.85rem;
}

.sidebar-item {
	color: black;
}

.sidebar-item-category{
	color: gray;
}

.question-title {
	color: black;
}

.latest-question-category {
	color: #808080;
	line-height: 0;
	padding-bottom: 25px;
}

.remove-overflow {
	white-space: nowrap;
	overflow:hidden;
	text-overflow: ellipsis"
}

/*
.inner-card {
	color:green;
}
*/

/*
QUESTION.HTML
 */

.question-info {
	margin-top: 15px;
}
.question-text {
	padding:10px;
}

.right-section {
	line-height: 2px;
	text-align: left;
}

.page-break {
	margin: 25px 15px 25px 15px;
	border: 1px solid #808080;
}

/*
**	Footer Styling
*/

#footer {
	background: rgb(0,150,136);
	font-size: 20px;
}
#footer .item {
	margin-left: 10px;
	margin-right: 10px;
}
#footer a {
	color: white;
}

/*
**	Register
 */

.custom-error-style {
	color: red;
	font-style: italic;
}

.image-preview-dim {
	height: 200px;
	width: auto;
}

.crop-text {
	overflow : hidden;
	text-overflow: ellipsis;
}